.flex-container{
    display: flex;
    max-width: 300px;
    border: 2px solid black;
    margin-bottom: 2px;
}

.item{
    flex: 1;
    background: brown;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

/*
Determina a ordem em que os elementos aparecerão.

Por padrão os flex items são dispostos na tela na ordem do código. Mas a propriedade `order` controla a ordem em que aparecerão no container.

o valor padrão é 0 
*/
.o1{
    order: 1;
}

.o2{
    order: 2;
}

.o3{
    order: 3;
}

.o4{
    order: 4;
}

.dr{
    flex-direction: column;
}