.flex-container{
    max-width: 500px;
    border: 2px solid black;
    display: flex;
}

.items{
    background: coral;
    color: white;
    text-align: center;
    margin: 5px;
}

.bauto{
    flex-basis: auto;
    /* A palavra-chave auto significa "observe minhas propriedades de altura ou largura" (o que era feito pela palavra-chave main-size, que foi depreciada).
    o valor padrão é auto */
}

.bzero{
    flex-basis: 0;
}

.w100{
    flex-basis: 100px;
}

.fg-1{
    flex-grow: 1;
}

.fg-2{
    flex-grow: 2;
}